@model IEnumerable<WebTotNghiep.Models.Sanpham>

@{
    Layout = "~/Areas/Admin/Views/Shared/Layout_admin.cshtml";
}

    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $("#checkAll").click(function () {
                $("input[name='productToDelete']").attr("checked", this.checked)
            });
            $("input[name='productToDelete']").click(function () {
                if ($("input[name='productToDelete']").length == $("input[name='productToDelete']:checked").length) {
                    $("#checkAll").attr("checked", "checked");
                }
                else {
                    $("#checkAll").removeAttr("checked");
                }
            });
        });
    </script>
    <html>
    <head>

    </head>
    <body>

 @using (Html.BeginForm("Delete", "ProductAd", FormMethod.Post))
  {
            <div class="panel-heading">
                <h3 class="panel-title">
                    Quản lý sản phẩm
                    <div class="btn-group" role="group" aria-label="..." style="float:right">
                        @Html.ActionLink("Create", "Create", "ProductAd", new { @class = "btn btn-default" })
                        <input type="submit" value="Delete" , class="btn btn-default" onclick="return confirm('Xac nhan xoa cac san pham da chon?)" />
                        @Html.ActionLink("Close", "Close", "ProductAd", new { @class = "btn btn-default" })
                    </div>
                </h3>
            </div>

            <table class="table">
                <tr>
                    <td>STT</td>
                    <td><input type="checkbox" id="checkAll" /></td>
                    <th>
                        @Html.DisplayNameFor(model => model.LoaiSanPham.Ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaSanPham)
                    </th>
                    <td>
                        @Html.DisplayNameFor(model => model.Ten)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Model)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.MotaNgan)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.TSKyThuat)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Tukhoa)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.GiaCu)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.GiaMoi)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.HinhAnh)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.TieuBieu)
                    </td>
                </tr>
                @{
                    var i = 1;

                    foreach (var item in Model)
                    {
                <tr>
                    <td>@i</td>
                    <td>
                        <input type="checkbox" name="productToDelete" id="productToDelete" value="@item.id" />
                    </td>
                    <td>
                        @Html.ActionLink(item.Ten, "Delete", new { id = item.Ten })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSanPham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotaNgan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TSKyThuat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tukhoa)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.GiaCu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaMoi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HinhAnh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TieuBieu)
                    </td>

                </tr>
                        i++;
                    }
                }

            </table>
        }



    </body>
</html>
