@model WebTotNghiep.Models.KhachHang
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Session["ms"] != null)
    {
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign">
                @Session["ms"].ToString()
            </span>
        </div>
    }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/CSS/signin.css" rel="stylesheet" />
    <style>
        .margin1 {
            margin-left: 230px;
        }
        .margin {
            margin-top: 300px;
        }

        .input {
            margin-left: 200px;
        }
    </style>
</head>
<body class="margin">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            <form class="modal-content animate">
                <div class="imgcontainer">
                    <img src="~/img/logo/1.png" alt="Avatar" class="avatar" style="width:10%">
                </div>
                <div class="container">
                    <h1>Login</h1>
                    <p>Please login this form to buy products .</p>
                    <hr>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input" for="uname"><b>Username</b></div>
                    @Html.EditorFor(model => model.Tentruynhap)
                    <br />
                    <div class="margin1">@Html.ValidationMessageFor(model => model.Tentruynhap, "", new { @class = "text-danger" })</div>


                    <div class="input"><b>Password</b></div>
                    @Html.EditorFor(model => model.Matkhau)
                    <br />
                    <div class="margin1" >@Html.ValidationMessageFor(model => model.Matkhau, "", new { @class = "text-danger" })</div>

                    <div class="input"><input type="checkbox" checked="checked" name="remember"> Remember me</div>
                    <div class="w3-panel margin1" style="width:60%">
                        <button class="w3-btn w3-block">
                            <input type="submit" value="Sign In" class="w3-btn w3-block">
                            <a> @Html.ActionLink("Cancel", "Index" ,"Home")</a>
                        </button>
                    </div>
                </div>
               
            </form>
        </div>
        <script>
            var modal = document.getElementById('id01');
        </script>
    }
</body>
</html>


